<!DOCTYPE html>
<html>
<head>
    <title>Content Overflow Example</title>
	<meta charset="utf-8" />
    <style type="text/css">
        p {
            width: 200px;
            height: 500px;
            border: medium double black;
            overflow-x: no-content;
            overflow-y: auto;
        }
    </style>
</head>
<body>
    <p>
        There are lots of different kinds of fruit - there are over 500 varieties of banana alone.
        By the time we add the countless types of apples, oranges, and other well-known fruit, we are
        faced with thousands of choices.
    </p>
</body>
</html>
