<!DOCTYPE html>
<html>
<head>
    <title>Class Selector Example</title>
	<meta charset="utf-8" />
    <style type="text/css">
        .class2 {
            border: thin black solid;
            padding: 4px;
            text-decoration: underline;
        }

        span.class3 {
            border: thick pink solid;
            padding: 6px;
        }
    </style>
</head>
<body>
    <a class="class1 class2 class3" href="http://apress.com">Visit the Apress website</a>
    <p>I like <span class="class2 class3">apples</span> and oranges.</p>
    <a href="http://w3c.org">Visit the W3C website</a>
</body>
</html>
