<!DOCTYPE html>
<html>
<head>
    <title>CSS Examples</title>
	<meta charset="utf-8" />
</head>
<body>
    <h1>Use CSS Selector</h1>
    <ul>
        <li>Generic selector <code>*</code> <a href="CSSGenericSelector.html">Generic</a></li>
        <li>Type selector <code>type</code> <a href="CSSTypeSelector.html">Type</a></li>
        <li>Class selector <code>class</code> <a href="CSSClassSelector.html">Class</a></li>
        <li>ID selector <code>class</code> <a href="CSSIdSelector.html">Id</a></li>
        <li>Pseudo Selector <code>hover</code><a href="CSSHoverSelector.html">Hover</a></li>
    </ul>
</body>
</html>
